{% extends 'base.html.twig' %}

{% block nom_client %}
    Modification Collaborateur
{% endblock %}

{%  block body %}


    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <br>
                        <h3 class="box-title">Fiche du collaborateur</h3>
                        <br><br>
                        <div class="table-responsive">
                            <table class="table">
                                {{form(form)}}
                            </table>
                            <br><br>
                            <a href="{{ path('index-collab') }}" class = hari>Annuler</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}