{% extends 'base.html.twig' %}

{% block nom_client %}
    Modification Client
{% endblock %}

{%  block body %}

    {{form(form)}}

    <a href="{{ path('index-client') }}">Accueil</a>

{% endblock %}