{% extends 'base.html.twig' %}

{%  block body %}

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Role</h4> </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <a href="{{ path("new-role") }}">Nouveau</a>
                    </ol>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <h3 class="box-title"></h3>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <td>Titre</td>
                                    <td>Action</td>
                                </tr>
                                </thead>

                                {% for role in roles %}
                                <tr>
                                    <td>{{ role.nomRole }}</td>
                                    <td>
                                        <a href={{ path('edit-role', {id:role.id}) }}><i class="fa fa-edit"></i></a>
                                        <a href={{ path('delete-role', {id:role.id}) }}><i class="fa fa-trash"></i></a>
                                    </td>
                                <tr>
                                    {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}