<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset("login.css")}}">
    <script type="text/javascript" src="js.js"></script>
</head>
<body >

<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Luuu<span>g</span></div>
</div>
<br>
<div class="login">
    <input type="text" placeholder="username" name="user"><br>
    <input type="password" placeholder="password" name="password"><br>
    <input type="button" value="Login">
</div>
</body>
</html>