<h3>Création de compte - Luuug</h3>

Bonjour {{ name }}!

<br><br>

Votre compte vient d'être créé, sur la plateforme Intranet de Luuug.

<br>

Pour vous connecter, allez sur la page suivante : <a href="{{ url('login') }}">Connexion</a>.

<br><br>

Merci, à bientôt !

<br><br>

<img src="{{ absolute_url(asset('plugins/images/logo-luuug-blanc.svg')) }}">