
.bouton {
  background-color: dodgerblue;
  border: black;
  color: white;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}
.bouton:hover {
  background-color: cornflowerblue;
  color: white;
}

.hari {
  background-color: lightgrey;
  border: black;
  color: white;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}
.hari:hover {
  background-color: indianred;
  color: white;
}

.farah {
  background-color: mediumseagreen;
  border: white;
  color: white;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}
.farah:hover {
  background-color: lightseagreen;
  color: white;
}

.boutonf {
  background-color: dodgerblue;
  border: black;
  color: white;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}
.bouton:hover {
  background-color: cornflowerblue;
  color: white;
}

.fenetre {
resizable: false;
height: "auto";
width: 400;
modal: true;
}

.logo img{
  width: 100%;
  padding: 18px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .sidebar{
    padding-top: 80px;
  }
}

.boutonmenuprincipal {
  background-color: cornflowerblue;
  color: white;
  border: none;
  cursor: pointer;
  padding:20px;
  margin-top:20px;
  font-size: 30px;
}
.boutonmenuprincipal:hover {
  background-color: cornflowerblue;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  display: none;
  background-color: powderblue;
  min-width: 50px;
}
.dropdown-child a {
  color: white;
  padding: 20px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-child {
  display: block;
}

.amande{
  text-align: -webkit-auto;
  margin: auto;
  border: 1px solid #663333;
  width: 498px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.6);
  margin: auto;
  padding: 20px 20px 20px 20px;
  width: 1000px;
  border-top: 4px solid white;
  border-bottom: 1px solid white;
  border-left: 4px solid white;
  border-right: 1px solid white;
  border-top-left-radius: 0px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 100px;
  box-shadow: 0px 0px 5px #000;
}