
.bouton {
  background-color: dodgerblue;
  border: black;
  color: white;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}
.bouton:hover {
  background-color: cornflowerblue;
  color: white;
}

.hari {
  background-color: darkred;
  border: black;
  color: white;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}
.hari:hover {
  background-color: indianred;
  color: white;
}
